n8n/learning/store_success_script.json
{
  "name": "Store Success Script",
  "active": true,
  "nodes": [
    {"id":"wh","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"parameters":{"httpMethod":"POST","path":"store_success_script","responseMode":"responseNode"}},
    {"id":"val","name":"Validate","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300],"parameters":{"jsCode":"const d=$input.first().json;\nif(!d.business_id) throw new Error('Missing business_id');\nconst p=d.parameters||{};\nreturn [{json:{business_id:d.business_id,task_id:d.task_id||null,title:p.title||'Success script',script:p.script||p.content||'',category:p.category||'general',outcome:p.outcome||'conversion',score:p.score||null}}];"}},
    {"id":"insert","name":"Store Script","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[680,300],"parameters":{"method":"POST","url":"={{ $env.SUPABASE_URL }}/rest/v1/success_scripts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({business_id:$json.business_id,title:$json.title,script:$json.script,category:$json.category,outcome:$json.outcome,score:$json.score,created_at:new Date().toISOString()}) }}"}},
    {"id":"reflection","name":"Store as Positive Reflection","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[900,300],"parameters":{"method":"POST","url":"={{ $env.SUPABASE_URL }}/rest/v1/reflections","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({business_id:$('Validate').first().json.business_id,what_happened:'Success script stored: '+$('Validate').first().json.title+' ('+$('Validate').first().json.outcome+')',lesson:$('Validate').first().json.script.substring(0,500),source:'success_script',mistake:false}) }}"}},
    {"id":"task","name":"Update Task","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1120,300],"parameters":{"method":"PATCH","url":"={{ $env.SUPABASE_URL }}/rest/v1/tasks?id=eq.{{ $('Validate').item.json.task_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({status:'completed',result:JSON.stringify({stored:true,title:$('Validate').first().json.title}),completed_at:new Date().toISOString()}) }}"}},
    {"id":"resp","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1340,300],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({success:true,workflow:'store_success_script',title:$('Validate').first().json.title}) }}"}}
  ],
  "connections":{
    "Webhook":{"main":[[{"node":"Validate","type":"main","index":0}]]},
    "Validate":{"main":[[{"node":"Store Script","type":"main","index":0}]]},
    "Store Script":{"main":[[{"node":"Store as Positive Reflection","type":"main","index":0}]]},
    "Store as Positive Reflection":{"main":[[{"node":"Update Task","type":"main","index":0}]]},
    "Update Task":{"main":[[{"node":"Respond","type":"main","index":0}]]}
  },
  "settings":{"executionOrder":"v1"},"tags":["learning","scripts"]
}
