n8n/appointments/book_appointment.json
{
  "name": "book_appointment",
  "nodes": [
    {
      "parameters": {"httpMethod": "POST", "path": "book_appointment", "responseMode": "responseNode"},
      "id": "wh-book", "name": "Webhook", "type": "n8n-nodes-base.webhook",
      "typeVersion": 2, "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "select", "tableId": "businesses",
        "filters": {"conditions": [{"keyName": "id", "condition": "equals", "keyValue": "={{ $json.business_id }}"}]}
      },
      "id": "val-book", "name": "Validate Business", "type": "n8n-nodes-base.supabase",
      "typeVersion": 1, "position": [460, 300],
      "credentials": {"supabaseApi": {"name": "Supabase_Main"}}
    },
    {
      "parameters": {"conditions": {"options": {"leftValue": "={{ $json.length }}", "operation": "largerEqual", "rightValue": 1}}},
      "id": "chk-book", "name": "Business Exists?", "type": "n8n-nodes-base.if",
      "typeVersion": 2, "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "insert", "tableId": "appointments",
        "dataToSend": "defineBelow",
        "fieldsUi": {"fieldValues": [
          {"fieldId": "business_id", "fieldValue": "={{ $('Webhook').item.json.business_id }}"},
          {"fieldId": "customer_id", "fieldValue": "={{ $('Webhook').item.json.parameters.customer_id }}"},
          {"fieldId": "staff_id", "fieldValue": "={{ $('Webhook').item.json.parameters.staff_id }}"},
          {"fieldId": "service", "fieldValue": "={{ $('Webhook').item.json.parameters.service }}"},
          {"fieldId": "scheduled_at", "fieldValue": "={{ $('Webhook').item.json.parameters.scheduled_at }}"},
          {"fieldId": "duration_minutes", "fieldValue": "={{ $('Webhook').item.json.parameters.duration_minutes || 60 }}"},
          {"fieldId": "status", "fieldValue": "scheduled"}
        ]}
      },
      "id": "ins-book", "name": "Create Appointment", "type": "n8n-nodes-base.supabase",
      "typeVersion": 1, "position": [900, 200],
      "credentials": {"supabaseApi": {"name": "Supabase_Main"}}
    },
    {
      "parameters": {
        "to": "={{ $('Webhook').item.json.parameters.customer_phone }}",
        "from": "={{ $env.TWILIO_PHONE_NUMBER }}",
        "message": "Booked! {{ $('Webhook').item.json.parameters.service }} on {{ $('Webhook').item.json.parameters.scheduled_at }}. Reply CANCEL to cancel."
      },
      "id": "sms-book", "name": "Confirmation SMS", "type": "n8n-nodes-base.twilio",
      "typeVersion": 1, "position": [1120, 200],
      "credentials": {"twilioApi": {"name": "Twilio_Production"}}
    },
    {
      "parameters": {
        "operation": "update", "tableId": "tasks",
        "filters": {"conditions": [{"keyName": "id", "condition": "equals", "keyValue": "={{ $('Webhook').item.json.task_id }}"}]},
        "dataToSend": "defineBelow",
        "fieldsUi": {"fieldValues": [
          {"fieldId": "status", "fieldValue": "completed"},
          {"fieldId": "completed_at", "fieldValue": "={{ new Date().toISOString() }}"}
        ]}
      },
      "id": "upd-book", "name": "Mark Complete", "type": "n8n-nodes-base.supabase",
      "typeVersion": 1, "position": [1340, 200],
      "credentials": {"supabaseApi": {"name": "Supabase_Main"}}
    },
    {
      "parameters": {"respondWith": "json", "responseBody": "={\"success\": true, \"message\": \"Appointment booked\"}"},
      "id": "res-book", "name": "Respond", "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1, "position": [1560, 200]
    },
    {
      "parameters": {"respondWith": "json", "responseBody": "={\"success\": false, \"message\": \"Business not found\"}", "responseCode": 404},
      "id": "err-book", "name": "Error", "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1, "position": [900, 420]
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Validate Business", "type": "main", "index": 0}]]},
    "Validate Business": {"main": [[{"node": "Business Exists?", "type": "main", "index": 0}]]},
    "Business Exists?": {"main": [
      [{"node": "Create Appointment", "type": "main", "index": 0}],
      [{"node": "Error", "type": "main", "index": 0}]
    ]},
    "Create Appointment": {"main": [[{"node": "Confirmation SMS", "type": "main", "index": 0}]]},
    "Confirmation SMS": {"main": [[{"node": "Mark Complete", "type": "main", "index": 0}]]},
    "Mark Complete": {"main": [[{"node": "Respond", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"}
}
