n8n/appointments/cancel_appointment.json
{
  "name": "cancel_appointment",
  "nodes": [
    {
      "parameters": {"httpMethod": "POST", "path": "cancel_appointment", "responseMode": "responseNode"},
      "id": "wh-cancel", "name": "Webhook", "type": "n8n-nodes-base.webhook",
      "typeVersion": 2, "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "select", "tableId": "businesses",
        "filters": {"conditions": [{"keyName": "id", "condition": "equals", "keyValue": "={{ $json.business_id }}"}]}
      },
      "id": "val-cancel", "name": "Validate Business", "type": "n8n-nodes-base.supabase",
      "typeVersion": 1, "position": [460, 300],
      "credentials": {"supabaseApi": {"name": "Supabase_Main"}}
    },
    {
      "parameters": {"conditions": {"options": {"leftValue": "={{ $json.length }}", "operation": "largerEqual", "rightValue": 1}}},
      "id": "chk-cancel", "name": "Business Exists?", "type": "n8n-nodes-base.if",
      "typeVersion": 2, "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "update", "tableId": "appointments",
        "filters": {"conditions": [{"keyName": "id", "condition": "equals", "keyValue": "={{ $('Webhook').item.json.parameters.appointment_id }}"}]},
        "dataToSend": "defineBelow",
        "fieldsUi": {"fieldValues": [
          {"fieldId": "status", "fieldValue": "cancelled"}
        ]}
      },
      "id": "upd-cancel", "name": "Cancel Appointment", "type": "n8n-nodes-base.supabase",
      "typeVersion": 1, "position": [900, 200],
      "credentials": {"supabaseApi": {"name": "Supabase_Main"}}
    },
    {
      "parameters": {
        "to": "={{ $('Webhook').item.json.parameters.customer_phone }}",
        "from": "={{ $env.TWILIO_PHONE_NUMBER }}",
        "message": "Your appointment has been cancelled. Book a new one: {{ $('Webhook').item.json.parameters.booking_url }}"
      },
      "id": "sms-cancel", "name": "Cancellation SMS", "type": "n8n-nodes-base.twilio",
      "typeVersion": 1, "position": [1120, 200],
      "credentials": {"twilioApi": {"name": "Twilio_Production"}}
    },
    {
      "parameters": {
        "operation": "update", "tableId": "tasks",
        "filters": {"conditions": [{"keyName": "id", "condition": "equals", "keyValue": "={{ $('Webhook').item.json.task_id }}"}]},
        "dataToSend": "defineBelow",
        "fieldsUi": {"fieldValues": [
          {"fieldId": "status", "fieldValue": "completed"},
          {"fieldId": "completed_at", "fieldValue": "={{ new Date().toISOString() }}"}
        ]}
      },
      "id": "upd-task-cancel", "name": "Mark Complete", "type": "n8n-nodes-base.supabase",
      "typeVersion": 1, "position": [1340, 200],
      "credentials": {"supabaseApi": {"name": "Supabase_Main"}}
    },
    {
      "parameters": {"respondWith": "json", "responseBody": "={\"success\": true, \"message\": \"Appointment cancelled\"}"},
      "id": "res-cancel", "name": "Respond OK", "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1, "position": [1560, 200]
    },
    {
      "parameters": {"respondWith": "json", "responseBody": "={\"success\": false, \"message\": \"Business not found\"}", "responseCode": 404},
      "id": "err-cancel", "name": "Error", "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1, "position": [900, 420]
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Validate Business", "type": "main", "index": 0}]]},
    "Validate Business": {"main": [[{"node": "Business Exists?", "type": "main", "index": 0}]]},
    "Business Exists?": {"main": [
      [{"node": "Cancel Appointment", "type": "main", "index": 0}],
      [{"node": "Error", "type": "main", "index": 0}]
    ]},
    "Cancel Appointment": {"main": [[{"node": "Cancellation SMS", "type": "main", "index": 0}]]},
    "Cancellation SMS": {"main": [[{"node": "Mark Complete", "type": "main", "index": 0}]]},
    "Mark Complete": {"main": [[{"node": "Respond OK", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"}
}
