n8n/appointments/check_availability.json
{
  "name": "check_availability",
  "active": true,
  "nodes": [
    {"id":"wh","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"parameters":{"httpMethod":"POST","path":"check_availability","responseMode":"responseNode"}},
    {"id":"val","name":"Validate","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300],"parameters":{"jsCode":"const d=$input.first().json;\nif(!d.business_id) throw new Error('Missing business_id');\nconst p=d.parameters||{};\nreturn [{json:{business_id:d.business_id,task_id:d.task_id||null,event_type_id:p.event_type_id||$env.CAL_COM_EVENT_TYPE_30MIN||'',start_time:p.start_time||new Date().toISOString(),end_time:p.end_time||new Date(Date.now()+7*86400000).toISOString()}}];"}},
    {"id":"calcom","name":"Check Cal.com Availability","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[680,300],"parameters":{"method":"GET","url":"={{ $env.CAL_COM_BASE_URL || 'https://api.cal.com/v2' }}/slots/available","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.CAL_COM_API_KEY }}"},{"name":"cal-api-version","value":"={{ $env.CAL_COM_API_VERSION || '2024-08-13' }}"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"eventTypeId","value":"={{ $json.event_type_id }}"},{"name":"startTime","value":"={{ $json.start_time }}"},{"name":"endTime","value":"={{ $json.end_time }}"}]}}},
    {"id":"parse","name":"Parse Slots","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,300],"parameters":{"jsCode":"const data=$input.first().json;\nconst slots=data.data?.slots||data.slots||{};\nconst available=[];\nfor(const[day,daySlots] of Object.entries(slots).slice(0,5)){\n  if(Array.isArray(daySlots)){\n    daySlots.slice(0,3).forEach(s=>available.push({date:day,time:s.time||s}));\n  }\n}\nreturn [{json:{available_slots:available,total_slots:available.length,business_id:$('Validate').first().json.business_id,task_id:$('Validate').first().json.task_id}}];"}},
    {"id":"task","name":"Update Task","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1120,300],"parameters":{"method":"PATCH","url":"={{ $env.SUPABASE_URL }}/rest/v1/tasks?id=eq.{{ $json.task_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({status:'completed',result:JSON.stringify({available_slots:$json.available_slots,total:$json.total_slots}),completed_at:new Date().toISOString()}) }}"}},
    {"id":"resp","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1340,300],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({success:true,workflow:'check_availability',available_slots:$('Parse Slots').first().json.available_slots,total_slots:$('Parse Slots').first().json.total_slots}) }}"}}
  ],
  "connections":{
    "Webhook":{"main":[[{"node":"Validate","type":"main","index":0}]]},
    "Validate":{"main":[[{"node":"Check Cal.com Availability","type":"main","index":0}]]},
    "Check Cal.com Availability":{"main":[[{"node":"Parse Slots","type":"main","index":0}]]},
    "Parse Slots":{"main":[[{"node":"Update Task","type":"main","index":0}]]},
    "Update Task":{"main":[[{"node":"Respond","type":"main","index":0}]]}
  },
  "settings":{"executionOrder":"v1"},"tags":["appointments","calcom"]
}
