n8n/appointments/fill_waitlist_slot.json
{
  "name": "fill_waitlist_slot",
  "active": true,
  "nodes": [
    {"id":"wh","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"parameters":{"httpMethod":"POST","path":"fill_waitlist_slot","responseMode":"responseNode"}},
    {"id":"val","name":"Validate","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300],"parameters":{"jsCode":"const d=$input.first().json;\nif(!d.business_id) throw new Error('Missing business_id');\nconst p=d.parameters||{};\nreturn [{json:{business_id:d.business_id,task_id:d.task_id||null,cancelled_slot:p.scheduled_at||new Date().toISOString()}}];"}},
    {"id":"get-waitlist","name":"Get Waitlist Customers","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[680,300],"parameters":{"method":"GET","url":"={{ $env.SUPABASE_URL }}/rest/v1/customers?business_id=eq.{{ $json.business_id }}&tags=cs.[\"waitlist\"]&opt_out_sms=eq.false&phone=not.is.null&limit=5&select=id,name,phone","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"}]}}},
    {"id":"notify","name":"Notify Waitlist via SMS","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[900,300],"parameters":{"method":"POST","url":"=https://api.twilio.com/2010-04-01/Accounts/{{ $env.TWILIO_ACCOUNT_SID }}/Messages.json","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"To","value":"={{ $json.phone }}"},{"name":"From","value":"={{ $env.TWILIO_PHONE_NUMBER }}"},{"name":"Body","value":"=Hi {{ $json.name }}! A spot just opened up on {{ new Date($('Validate').first().json.cancelled_slot).toLocaleDateString('en-US',{weekday:'long',month:'short',day:'numeric'}) }}. Reply YES to claim it or book here: {{ $env.CAL_COM_BASE_URL }}"}]}}},
    {"id":"log","name":"Log Notification","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1120,300],"parameters":{"method":"POST","url":"={{ $env.SUPABASE_URL }}/rest/v1/notifications_log","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({business_id:$('Validate').first().json.business_id,channel:'sms',message:'Waitlist notification sent',status:'sent'}) }}"}},
    {"id":"task","name":"Update Task","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1340,300],"parameters":{"method":"PATCH","url":"={{ $env.SUPABASE_URL }}/rest/v1/tasks?id=eq.{{ $('Validate').item.json.task_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({status:'completed',result:JSON.stringify({notified:$('Notify Waitlist via SMS').all().length}),completed_at:new Date().toISOString()}) }}"}},
    {"id":"resp","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1560,300],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({success:true,workflow:'fill_waitlist_slot',notified:$('Notify Waitlist via SMS').all().length}) }}"}}
  ],
  "connections":{
    "Webhook":{"main":[[{"node":"Validate","type":"main","index":0}]]},
    "Validate":{"main":[[{"node":"Get Waitlist Customers","type":"main","index":0}]]},
    "Get Waitlist Customers":{"main":[[{"node":"Notify Waitlist via SMS","type":"main","index":0}]]},
    "Notify Waitlist via SMS":{"main":[[{"node":"Log Notification","type":"main","index":0}]]},
    "Log Notification":{"main":[[{"node":"Update Task","type":"main","index":0}]]},
    "Update Task":{"main":[[{"node":"Respond","type":"main","index":0}]]}
  },
  "settings":{"executionOrder":"v1"},"tags":["appointments","waitlist"]
}
