n8n/operations/log_equipment_maintenance.json
{
  "name": "Log Equipment Maintenance",
  "active": true,
  "nodes": [
    {"id":"wh","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"parameters":{"httpMethod":"POST","path":"log_equipment_maintenance","responseMode":"responseNode"}},
    {"id":"val","name":"Validate","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300],"parameters":{"jsCode":"const d=$input.first().json;\nif(!d.business_id) throw new Error('Missing business_id');\nconst p=d.parameters||{};\nreturn [{json:{business_id:d.business_id,task_id:d.task_id||null,equipment_id:p.equipment_id||null,equipment_name:p.equipment_name||'Unknown equipment',maintenance_type:p.maintenance_type||'routine',notes:p.notes||'',performed_by:p.performed_by||'staff',next_maintenance_days:p.next_maintenance_days||90}}];"}},
    {"id":"log","name":"Log Maintenance","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[680,300],"parameters":{"method":"POST","url":"={{ $env.SUPABASE_URL }}/rest/v1/equipment","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({business_id:$json.business_id,equipment_id:$json.equipment_id,name:$json.equipment_name,maintenance_type:$json.maintenance_type,notes:$json.notes,performed_by:$json.performed_by,performed_at:new Date().toISOString(),next_maintenance_at:new Date(Date.now()+$json.next_maintenance_days*86400000).toISOString()}) }}"}},
    {"id":"update-equip","name":"Update Equipment Record","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[900,300],"parameters":{"method":"PATCH","url":"={{ $env.SUPABASE_URL }}/rest/v1/equipment?id=eq.{{ $json.equipment_id }}&business_id=eq.{{ $('Validate').first().json.business_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({last_maintenance:new Date().toISOString(),next_maintenance:new Date(Date.now()+$('Validate').first().json.next_maintenance_days*86400000).toISOString(),status:'operational'}) }}"}},
    {"id":"task","name":"Update Task","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1120,300],"parameters":{"method":"PATCH","url":"={{ $env.SUPABASE_URL }}/rest/v1/tasks?id=eq.{{ $('Validate').item.json.task_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({status:'completed',result:JSON.stringify({logged:true,equipment_name:$('Validate').first().json.equipment_name}),completed_at:new Date().toISOString()}) }}"}},
    {"id":"resp","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1340,300],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({success:true,workflow:'log_equipment_maintenance',equipment_name:$('Validate').first().json.equipment_name}) }}"}}
  ],
  "connections":{
    "Webhook":{"main":[[{"node":"Validate","type":"main","index":0}]]},
    "Validate":{"main":[[{"node":"Log Maintenance","type":"main","index":0}]]},
    "Log Maintenance":{"main":[[{"node":"Update Equipment Record","type":"main","index":0}]]},
    "Update Equipment Record":{"main":[[{"node":"Update Task","type":"main","index":0}]]},
    "Update Task":{"main":[[{"node":"Respond","type":"main","index":0}]]}
  },
  "settings":{"executionOrder":"v1"},"tags":["operations","equipment"]
}
