n8n/operations/sync_franchise_location.json
{
  "name": "Sync Franchise Location",
  "active": true,
  "nodes": [
    {"id":"wh","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"parameters":{"httpMethod":"POST","path":"sync_franchise_location","responseMode":"responseNode"}},
    {"id":"val","name":"Validate","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300],"parameters":{"jsCode":"const d=$input.first().json;\nif(!d.business_id) throw new Error('Missing business_id');\nconst p=d.parameters||{};\nreturn [{json:{business_id:d.business_id,task_id:d.task_id||null,location_name:p.location_name||'Main Location',address:p.address||'',city:p.city||'',state:p.state||'NJ',timezone:p.timezone||'America/New_York',settings:p.settings||{}}}];"}},
    {"id":"upsert","name":"Upsert Location","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[680,300],"parameters":{"method":"POST","url":"={{ $env.SUPABASE_URL }}/rest/v1/locations","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"resolution=merge-duplicates"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({business_id:$json.business_id,name:$json.location_name,address:$json.address,city:$json.city,state:$json.state,timezone:$json.timezone,settings:$json.settings,synced_at:new Date().toISOString()}) }}"}},
    {"id":"task","name":"Update Task","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[900,300],"parameters":{"method":"PATCH","url":"={{ $env.SUPABASE_URL }}/rest/v1/tasks?id=eq.{{ $('Validate').item.json.task_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({status:'completed',result:JSON.stringify({synced:true,location:$('Validate').first().json.location_name}),completed_at:new Date().toISOString()}) }}"}},
    {"id":"resp","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1120,300],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({success:true,workflow:'sync_franchise_location',location:$('Validate').first().json.location_name}) }}"}}
  ],
  "connections":{
    "Webhook":{"main":[[{"node":"Validate","type":"main","index":0}]]},
    "Validate":{"main":[[{"node":"Upsert Location","type":"main","index":0}]]},
    "Upsert Location":{"main":[[{"node":"Update Task","type":"main","index":0}]]},
    "Update Task":{"main":[[{"node":"Respond","type":"main","index":0}]]}
  },
  "settings":{"executionOrder":"v1"},"tags":["operations","franchise"]
}
