n8n/crm/update_customer.json
{
  "name": "update_customer",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "update_customer",
        "responseMode": "responseNode"
      },
      "id": "wh-update",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "tableId": "businesses",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "equals",
              "keyValue": "={{ $json.business_id }}"
            }
          ]
        }
      },
      "id": "val-update",
      "name": "Validate Business",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "name": "Supabase_Main"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "={{ $json.length }}",
            "operation": "largerEqual",
            "rightValue": 1
          }
        }
      },
      "id": "chk-update",
      "name": "Business Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "customers",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "equals",
              "keyValue": "={{ $('Webhook').item.json.parameters.customer_id }}"
            },
            {
              "keyName": "business_id",
              "condition": "equals",
              "keyValue": "={{ $json.business_id }}"
            }
          ]
        },
        "dataToSend": "json",
        "jsonData": "={{ $('Webhook').item.json.parameters.updates }}"
      },
      "id": "upd-cust-update",
      "name": "Update Customer",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        900,
        200
      ],
      "credentials": {
        "supabaseApi": {
          "name": "Supabase_Main"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "tasks",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "equals",
              "keyValue": "={{ $('Webhook').item.json.task_id }}"
            },
            {
              "keyName": "business_id",
              "keyValue": "={{ $('Extract Params').item.json.business_id }}",
              "condition": "eq"
            }
          ]
        },
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "completed"
            },
            {
              "fieldId": "completed_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "upd-task-update",
      "name": "Mark Complete",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1120,
        200
      ],
      "credentials": {
        "supabaseApi": {
          "name": "Supabase_Main"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"message\": \"Customer updated\"}"
      },
      "id": "res-update",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1340,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": false, \"message\": \"Business not found\"}",
        "responseCode": 404
      },
      "id": "err-update",
      "name": "Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        420
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Business",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Business": {
      "main": [
        [
          {
            "node": "Business Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Business Exists?": {
      "main": [
        [
          {
            "node": "Update Customer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Customer": {
      "main": [
        [
          {
            "node": "Mark Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Complete": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": true
}