n8n/marketing/scrape_google_maps_leads.json
{
  "name": "Scrape Google Maps Leads",
  "active": true,
  "nodes": [
    {
      "id": "wh-gm-001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "scrape_google_maps_leads",
        "responseMode": "responseNode"
      }
    },
    {
      "id": "validate-gm-001",
      "name": "Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "jsCode": "const d = $input.first().json;\nif (!d.business_id) throw new Error('Missing business_id');\nconst p = d.parameters || {};\nreturn [{ json: {\n  business_id: d.business_id,\n  task_id: d.task_id || null,\n  industry: p.industry || p.query || 'medspa',\n  locations: p.locations || [],\n  limit_per_location: p.limit_per_location || p.count || 20,\n  skip_enrichment: p.skip_enrichment || false,\n  include_social: p.include_social || false\n}}];"
      }
    },
    {
      "id": "run-pipeline-001",
      "name": "Run Lead Pipeline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/leads/pipeline/run",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ business_id: $json.business_id, industry: $json.industry, locations: $json.locations, limit_per_location: $json.limit_per_location, skip_enrichment: $json.skip_enrichment, include_social: $json.include_social }) }}"
      }
    },
    {
      "id": "update-task-gm-001",
      "name": "Update Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 300],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/tasks?id=eq.{{ $('Validate').item.json.task_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'completed', result: JSON.stringify($('Run Lead Pipeline').item.json), completed_at: new Date().toISOString() }) }}"
      }
    },
    {
      "id": "respond-gm-001",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, workflow: 'scrape_google_maps_leads', data: $('Run Lead Pipeline').item.json }) }}"
      }
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Validate", "type": "main", "index": 0 }]] },
    "Validate": { "main": [[{ "node": "Run Lead Pipeline", "type": "main", "index": 0 }]] },
    "Run Lead Pipeline": { "main": [[{ "node": "Update Task", "type": "main", "index": 0 }]] },
    "Update Task": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": ["marketing", "leads", "scraping"]
}
