n8n/marketing/send_email_campaign.json
{
  "settings": {
    "executionOrder": "v1"
  },
  "name": "send_email_campaign",
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Business",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Business": {
      "main": [
        [
          {
            "node": "Business Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Business Exists?": {
      "main": [
        [
          {
            "node": "Get Customers",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Complete": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Customers": {
      "main": [
        [
          {
            "node": "Mark Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "nodes": [
    {
      "id": "wh-email",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        240,
        300
      ],
      "parameters": {
        "path": "send_email_campaign",
        "responseMode": "responseNode",
        "httpMethod": "POST"
      },
      "typeVersion": 2
    },
    {
      "id": "val-email",
      "name": "Validate Business",
      "credentials": {
        "supabaseApi": {
          "name": "Supabase_Main"
        }
      },
      "type": "n8n-nodes-base.supabase",
      "position": [
        460,
        300
      ],
      "parameters": {
        "tableId": "businesses",
        "operation": "select",
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $json.business_id }}",
              "condition": "equals",
              "keyName": "id"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "id": "chk-email",
      "name": "Business Exists?",
      "type": "n8n-nodes-base.if",
      "position": [
        680,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "operation": "largerEqual",
            "rightValue": 1,
            "leftValue": "={{ $json.length }}"
          }
        }
      },
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "select",
        "tableId": "customers"
      },
      "id": "query-email",
      "type": "n8n-nodes-base.supabase",
      "credentials": {
        "supabaseApi": {
          "name": "Supabase_Main"
        }
      },
      "name": "Get Customers",
      "position": [
        900,
        200
      ],
      "typeVersion": 1
    },
    {
      "id": "upd-email",
      "name": "Mark Complete",
      "credentials": {
        "supabaseApi": {
          "name": "Supabase_Main"
        }
      },
      "type": "n8n-nodes-base.supabase",
      "position": [
        1340,
        200
      ],
      "parameters": {
        "tableId": "tasks",
        "operation": "update",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "completed"
            },
            {
              "fieldId": "completed_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        },
        "dataToSend": "defineBelow",
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('Webhook').item.json.task_id }}",
              "condition": "equals",
              "keyName": "id"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "id": "res-email",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1560,
        200
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"message\": \"Done\"}"
      },
      "typeVersion": 1
    },
    {
      "id": "err-email",
      "name": "Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        900,
        420
      ],
      "parameters": {
        "responseBody": "={\"success\": false, \"message\": \"Business not found\"}",
        "respondWith": "json",
        "responseCode": 404
      },
      "typeVersion": 1
    }
  ]
}