n8n/marketing/send_whatsapp_campaign.json
{
  "name": "Send WhatsApp Campaign",
  "active": true,
  "nodes": [
    {
      "id": "wh-wa",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": { "httpMethod": "POST", "path": "send_whatsapp_campaign", "responseMode": "responseNode" }
    },
    {
      "id": "val-wa",
      "name": "Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "jsCode": "const d=$input.first().json;\nif(!d.business_id) throw new Error('Missing business_id');\nconst p=d.parameters||{};\nreturn [{json:{business_id:d.business_id,task_id:d.task_id||null,message:p.message||'',template_name:p.template_name||null,limit:p.limit||50}}];"
      }
    },
    {
      "id": "fetch-wa",
      "name": "Get Customers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/customers?business_id=eq.{{ $json.business_id }}&opt_out_sms=eq.false&phone=not.is.null&limit={{ $json.limit }}&select=id,name,phone",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          {"name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}"},
          {"name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"}
        ]}
      }
    },
    {
      "id": "build-wa",
      "name": "Build Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "parameters": {
        "jsCode": "const customers=$input.all().map(i=>i.json);\nconst msg=$('Validate').first().json.message||'Hi {name}!';\nreturn customers.map(c=>({json:{customer_id:c.id,phone:'whatsapp:+1'+c.phone.replace(/\\D/g,'').slice(-10),message:msg.replace('{name}',c.name||'there')}}));"
      }
    },
    {
      "id": "send-wa",
      "name": "Send via Twilio WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 300],
      "parameters": {
        "method": "POST",
        "url": "=https://api.twilio.com/2010-04-01/Accounts/{{ $env.TWILIO_ACCOUNT_SID }}/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": { "parameters": [
          {"name": "To",   "value": "={{ $json.phone }}"},
          {"name": "From", "value": "=whatsapp:{{ $env.TWILIO_WHATSAPP_NUMBER }}"},
          {"name": "Body", "value": "={{ $json.message }}"}
        ]}
      }
    },
    {
      "id": "log-wa",
      "name": "Log to Messages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1340, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/messages",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          {"name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}"},
          {"name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"},
          {"name": "Content-Type", "value": "application/json"}
        ]},
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({business_id:$('Validate').first().json.business_id,customer_id:$('Build Messages').item.json.customer_id,channel:'whatsapp',direction:'outbound',body:$('Build Messages').item.json.message,status:'sent'}) }}"
      }
    },
    {
      "id": "task-wa",
      "name": "Update Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1560, 300],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/tasks?id=eq.{{ $('Validate').item.json.task_id }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          {"name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}"},
          {"name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"},
          {"name": "Content-Type", "value": "application/json"}
        ]},
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({status:'completed',result:JSON.stringify({sent_count:$('Send via Twilio WhatsApp').all().length}),completed_at:new Date().toISOString()}) }}"
      }
    },
    {
      "id": "resp-wa",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1780, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({success:true,workflow:'send_whatsapp_campaign',sent_count:$('Send via Twilio WhatsApp').all().length}) }}"
      }
    }
  ],
  "connections": {
    "Webhook":        {"main": [[{"node": "Validate",                  "type": "main", "index": 0}]]},
    "Validate":       {"main": [[{"node": "Get Customers",             "type": "main", "index": 0}]]},
    "Get Customers":  {"main": [[{"node": "Build Messages",            "type": "main", "index": 0}]]},
    "Build Messages": {"main": [[{"node": "Send via Twilio WhatsApp",  "type": "main", "index": 0}]]},
    "Send via Twilio WhatsApp": {"main": [[{"node": "Log to Messages", "type": "main", "index": 0}]]},
    "Log to Messages":{"main": [[{"node": "Update Task",               "type": "main", "index": 0}]]},
    "Update Task":    {"main": [[{"node": "Respond",                   "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "tags": ["marketing", "whatsapp", "campaign"]
}
