n8n/platform/check_tenant_isolation.json
{
  "name": "Check Tenant Isolation",
  "nodes": [
    {
      "parameters": {},
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/cron/check-isolation"
      },
      "name": "Trigger Isolation Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 300]
    },
    {
      "parameters": {
        "table": "audit_log",
        "columns": {
          "mapping": {
            "action": "tenant_isolation_check",
            "status": "{{ $json.status }}",
            "violations": "{{ $json.violations }}",
            "timestamp": "{{ now.toISOString() }}"
          }
        }
      },
      "name": "Log Check Results",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [750, 300]
    },
    {
      "parameters": {},
      "name": "Complete",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1000, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Trigger Isolation Check", "type": "main", "index": 0 }]]
    },
    "Trigger Isolation Check": {
      "main": [[{ "node": "Log Check Results", "type": "main", "index": 0 }]]
    },
    "Log Check Results": {
      "main": [[{ "node": "Complete", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {},
  "hash": "check_tenant_isolation",
  "id": "check_tenant_isolation"
}
