n8n/platform/run_regression_tests.json
{
  "name": "Run Regression Tests",
  "nodes": [
    {
      "parameters": {},
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/cron/regression-tests"
      },
      "name": "Trigger Regression Tests",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 300]
    },
    {
      "parameters": {
        "table": "audit_log",
        "columns": {
          "mapping": {
            "test_run_id": "{{ $json.test_run_id }}",
            "status": "{{ $json.status }}",
            "timestamp": "{{ now.toISOString() }}"
          }
        }
      },
      "name": "Log Results",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [750, 300]
    },
    {
      "parameters": {},
      "name": "Complete",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1000, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Trigger Regression Tests", "type": "main", "index": 0 }]]
    },
    "Trigger Regression Tests": {
      "main": [[{ "node": "Log Results", "type": "main", "index": 0 }]]
    },
    "Log Results": {
      "main": [[{ "node": "Complete", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {},
  "hash": "run_regression_tests",
  "id": "run_regression_tests"
}
