n8n/revenue/send_renewal_reminder.json
{
  "name": "send_renewal_reminder",
  "nodes": [
    {
      "parameters": {"httpMethod": "POST", "path": "send_renewal_reminder", "responseMode": "responseNode"},
      "id": "wh-renewal", "name": "Webhook", "type": "n8n-nodes-base.webhook",
      "typeVersion": 2, "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "select", "tableId": "businesses",
        "filters": {"conditions": [{"keyName": "id", "condition": "equals", "keyValue": "={{ $json.business_id }}"}]}
      },
      "id": "val-renewal", "name": "Validate Business", "type": "n8n-nodes-base.supabase",
      "typeVersion": 1, "position": [460, 300],
      "credentials": {"supabaseApi": {"name": "Supabase_Main"}}
    },
    {
      "parameters": {"conditions": {"options": {"leftValue": "={{ $json.length }}", "operation": "largerEqual", "rightValue": 1}}},
      "id": "chk-renewal", "name": "Business Exists?", "type": "n8n-nodes-base.if",
      "typeVersion": 2, "position": [680, 300]
    },
    {
      "parameters": {
        "to": "={{ $('Webhook').item.json.parameters.customer_phone }}",
        "from": "={{ $env.TWILIO_PHONE_NUMBER }}",
        "message": "Hi {{ $('Webhook').item.json.parameters.customer_name }}! Your membership at {{ $('Webhook').item.json.parameters.business_name }} expires in {{ $('Webhook').item.json.parameters.days_left }} days. Renew: {{ $('Webhook').item.json.parameters.renewal_url }}"
      },
      "id": "sms-renewal", "name": "Send Renewal SMS", "type": "n8n-nodes-base.twilio",
      "typeVersion": 1, "position": [900, 200],
      "credentials": {"twilioApi": {"name": "Twilio_Production"}}
    },
    {
      "parameters": {
        "operation": "update", "tableId": "tasks",
        "filters": {"conditions": [{"keyName": "id", "condition": "equals", "keyValue": "={{ $('Webhook').item.json.task_id }}"}]},
        "dataToSend": "defineBelow",
        "fieldsUi": {"fieldValues": [
          {"fieldId": "status", "fieldValue": "completed"},
          {"fieldId": "completed_at", "fieldValue": "={{ new Date().toISOString() }}"}
        ]}
      },
      "id": "upd-task-renewal", "name": "Mark Complete", "type": "n8n-nodes-base.supabase",
      "typeVersion": 1, "position": [1120, 200],
      "credentials": {"supabaseApi": {"name": "Supabase_Main"}}
    },
    {
      "parameters": {"respondWith": "json", "responseBody": "={\"success\": true, \"message\": \"Renewal reminder sent\"}"},
      "id": "res-renewal", "name": "Respond OK", "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1, "position": [1340, 200]
    },
    {
      "parameters": {"respondWith": "json", "responseBody": "={\"success\": false, \"message\": \"Business not found\"}", "responseCode": 404},
      "id": "err-renewal", "name": "Error", "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1, "position": [900, 420]
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Validate Business", "type": "main", "index": 0}]]},
    "Validate Business": {"main": [[{"node": "Business Exists?", "type": "main", "index": 0}]]},
    "Business Exists?": {"main": [
      [{"node": "Send Renewal SMS", "type": "main", "index": 0}],
      [{"node": "Error", "type": "main", "index": 0}]
    ]},
    "Send Renewal SMS": {"main": [[{"node": "Mark Complete", "type": "main", "index": 0}]]},
    "Mark Complete": {"main": [[{"node": "Respond OK", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"}
}
