n8n/revenue/win_back_sequence.json
{
  "name": "Win-Back Sequence",
  "active": true,
  "nodes": [
    {"id":"wh","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"parameters":{"httpMethod":"POST","path":"win_back_sequence","responseMode":"responseNode"}},
    {"id":"val","name":"Validate","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300],"parameters":{"jsCode":"const d=$input.first().json;\nif(!d.business_id) throw new Error('Missing business_id');\nconst p=d.parameters||{};\nreturn [{json:{business_id:d.business_id,task_id:d.task_id||null,customer_id:p.customer_id,customer_phone:p.customer_phone||p.phone||'',customer_name:p.customer_name||p.name||'there',step:p.step||1,discount_code:p.discount_code||'COMEBACK15',discount_pct:p.discount_pct||15}}];"}},
    {"id":"route","name":"Route by Step","type":"n8n-nodes-base.switch","typeVersion":3,"position":[680,300],"parameters":{"mode":"rules","options":{},"rules":{"values":[{"conditions":{"options":{"caseSensitive":false},"conditions":[{"leftValue":"={{ $json.step }}","rightValue":1,"operator":{"type":"number","operation":"equals"}}]},"renameOutput":true,"outputKey":"Step 1"},{"conditions":{"options":{"caseSensitive":false},"conditions":[{"leftValue":"={{ $json.step }}","rightValue":2,"operator":{"type":"number","operation":"equals"}}]},"renameOutput":true,"outputKey":"Step 2"},{"conditions":{"options":{"caseSensitive":false},"conditions":[{"leftValue":"={{ $json.step }}","rightValue":3,"operator":{"type":"number","operation":"equals"}}]},"renameOutput":true,"outputKey":"Step 3"}]}}},
    {"id":"sms1","name":"Step 1 - Miss You","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[900,100],"parameters":{"method":"POST","url":"=https://api.twilio.com/2010-04-01/Accounts/{{ $env.TWILIO_ACCOUNT_SID }}/Messages.json","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"To","value":"={{ $('Validate').first().json.customer_phone }}"},{"name":"From","value":"={{ $env.TWILIO_PHONE_NUMBER }}"},{"name":"Body","value":"=Hi {{ $('Validate').first().json.customer_name }}! It's been a while and we genuinely miss you 💙 As a valued client, here's {{ $('Validate').first().json.discount_pct }}% off your next visit. Use code {{ $('Validate').first().json.discount_code }} when booking: {{ $env.CAL_COM_BASE_URL }}"}]}}},
    {"id":"sms2","name":"Step 2 - Offer Expiring","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[900,300],"parameters":{"method":"POST","url":"=https://api.twilio.com/2010-04-01/Accounts/{{ $env.TWILIO_ACCOUNT_SID }}/Messages.json","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"To","value":"={{ $('Validate').first().json.customer_phone }}"},{"name":"From","value":"={{ $env.TWILIO_PHONE_NUMBER }}"},{"name":"Body","value":"=Hi {{ $('Validate').first().json.customer_name }}, your {{ $('Validate').first().json.discount_pct }}% discount expires soon! Don't miss it — book: {{ $env.CAL_COM_BASE_URL }} or reply BOOK and we'll sort it for you 🗓️"}]}}},
    {"id":"sms3","name":"Step 3 - Final Goodbye","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[900,500],"parameters":{"method":"POST","url":"=https://api.twilio.com/2010-04-01/Accounts/{{ $env.TWILIO_ACCOUNT_SID }}/Messages.json","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"To","value":"={{ $('Validate').first().json.customer_phone }}"},{"name":"From","value":"={{ $env.TWILIO_PHONE_NUMBER }}"},{"name":"Body","value":"=Hi {{ $('Validate').first().json.customer_name }}, this is our last message — we don't want to bother you. If you ever want to come back, we'd love to see you. The door's always open! 😊"}]}}},
    {"id":"update-step3","name":"Tag as churned","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1120,500],"parameters":{"method":"PATCH","url":"={{ $env.SUPABASE_URL }}/rest/v1/customers?id=eq.{{ $('Validate').first().json.customer_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({tags:['churned']}) }}"}},
    {"id":"task","name":"Update Task","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1340,300],"parameters":{"method":"PATCH","url":"={{ $env.SUPABASE_URL }}/rest/v1/tasks?id=eq.{{ $('Validate').item.json.task_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({status:'completed',result:JSON.stringify({step:$('Validate').first().json.step,sms_sent:true}),completed_at:new Date().toISOString()}) }}"}},
    {"id":"resp","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1560,300],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({success:true,workflow:'win_back_sequence',step:$('Validate').first().json.step}) }}"}}
  ],
  "connections":{
    "Webhook":{"main":[[{"node":"Validate","type":"main","index":0}]]},
    "Validate":{"main":[[{"node":"Route by Step","type":"main","index":0}]]},
    "Route by Step":{"Step 1":[[{"node":"Step 1 - Miss You","type":"main","index":0}]],"Step 2":[[{"node":"Step 2 - Offer Expiring","type":"main","index":0}]],"Step 3":[[{"node":"Step 3 - Final Goodbye","type":"main","index":0}]]},
    "Step 1 - Miss You":{"main":[[{"node":"Update Task","type":"main","index":0}]]},
    "Step 2 - Offer Expiring":{"main":[[{"node":"Update Task","type":"main","index":0}]]},
    "Step 3 - Final Goodbye":{"main":[[{"node":"Tag as churned","type":"main","index":0}]]},
    "Tag as churned":{"main":[[{"node":"Update Task","type":"main","index":0}]]},
    "Update Task":{"main":[[{"node":"Respond","type":"main","index":0}]]}
  },
  "settings":{"executionOrder":"v1"},"tags":["revenue","retention","win-back"]
}
