n8n/monitoring/cron_coo_daily.json
{
  "name": "COO Daily Loop — 6am",
  "active": true,
  "nodes": [
    {
      "id": "cron-coo",
      "name": "Cron 6am EST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 11 * * *" }] }
      }
    },
    {
      "id": "run-coo",
      "name": "Trigger COO Loop",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/cron/department-work?department=coo",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "x-cron-secret", "value": "={{ $env.CRON_SECRET }}" }]
        }
      }
    },
    {
      "id": "log-coo",
      "name": "Log Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/notifications_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: 'system', message: 'COO daily loop triggered: ' + JSON.stringify($('Trigger COO Loop').item.json), status: 'sent' }) }}"
      }
    }
  ],
  "connections": {
    "Cron 6am EST": { "main": [[{ "node": "Trigger COO Loop", "type": "main", "index": 0 }]] },
    "Trigger COO Loop": { "main": [[{ "node": "Log Result", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": ["cron", "autonomous", "coo"]
}
